.plan-form-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 24px;
  border-radius: 8px;
}

.plan-form-container form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.plan-form-container .form-row {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
}

.plan-form-container .form-row label {
  text-align: end;
  width: 98px;
}

.plan-form-container .form-row input {
  width: 160px;
  color: #ffffff;
}

.plan-form-container .form-row input::placeholder {
  opacity: 50%;
}

.plan-form-container .form-label {
  font-weight: bold;
  color: #ffffff;
}

.plan-form-container .payment-method {
  display: flex;
  align-items: center;
  gap: 8px;
}

.plan-form-container .payment-text {
  color: #b3b3b3;
}

.plan-form-container .button-group {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 24px;
  align-items: end;
}

.plan-form-container .button-group button {
  width: fit-content;
}

.plan-form-container .button-alterar-plano {
  padding: 12px 24px;
  background-color: var(--neon-blue);
  color: var(--black);
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plan-form-container .plan-form-container .button-alterar-plano:hover {
  background-color: #24b8e3;
}

.button-alterar-pagamento {
  padding: 12px 24px;
  background-color: var(--green);
  color: var(--black);
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plan-form-container .button-alterar-pagamento:hover {
  background-color: #2bcf76;
}

.plan-form-container .button-solicitar-cancelamento {
  padding: 12px 24px;
  background-color: var(--blue);
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plan-form-container .button-solicitar-cancelamento:hover {
  background-color: #2e7ce1;
}
