.customer-dashboard {
  background-color: #121212;
  color: white;
  display: flex;
  padding: 0;
  height: 100vh;
}

.customer-dashboard-aside {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: center;
  border-right: 1px solid #000;
  padding-top: 100px;
  width: 100%;
  overflow: scroll;
  background-color: var(--black);
  transition: 0.3s;
}

.customer-dashboard-aside span {
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  margin-left: auto;
}

.customer-dashboard-aside:hover span {
  background-color: var(--green);
}

.customer-dashboard nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-bottom: 1px solid var(--dark-gray-2);
  padding: 0 28px 20px;
  width: 300px;
}

.customer-dashboard nav a {
  padding: 13px 0;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
}

.customer-dashboard nav a:hover {
  color: var(--green);
}

.customer-dashboard nav a:hover svg path {
  fill: var(--green) !important;
}

.customer-dashboard aside img {
  margin-top: 125px;
}

.dashboard-content-section {
  padding: 130px 60px 108px 80px;
  width: 100%;
  overflow: scroll;
}

.dashboard-content-section h1 {
  font-size: 34.66px;
  font-weight: 400;
  line-height: 51.99px;
}

.dashboard-content-section .separator {
  height: 1px;
  width: 100%;
  background-color: var(--dark-gray-2);
  margin: 50px 0;
  border: none;
}

.links-cards {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.close-mobile-sidebar-button,
.open-mobile-sidebar-button {
  display: none;
  position: absolute;
  background: none;
  padding: 0;
  width: 40px;
  height: 40px;
}

.close-mobile-sidebar-button {
  top: 10px;
  right: 10px;
}

.open-mobile-sidebar-button {
  top: 28px;
  left: 20px;
}

.customer-dashboard-aside .close-mobile-sidebar-button:hover,
.open-mobile-sidebar-button:hover {
  background-color: unset;
  background: none;
  box-shadow: inset 0px 0px 18px 18px var(--dark-gray-2);
}

@media (max-width: 997px) {
  .customer-dashboard-aside {
    position: absolute;
    z-index: 10;
    height: 100%;
    max-width: 0;
    overflow: hidden;
  }

  .customer-dashboard-aside.open {
    max-width: 300px;
  }

  .close-mobile-sidebar-button,
  .open-mobile-sidebar-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dashboard-content-section h1 {
    font-size: 28px;
  }
}
