.home-banner-section {
  display: flex;
  align-items: center;
  gap: 23px;
  margin-bottom: 180px;
}

.home-banner-section .banner-text {
  max-width: 660px;
  padding-left: 13px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.home-banner-section .banner-text h1 span {
  font-weight: 600;
  font-size: 90px;
  line-height: 94.5px;
}

.home-banner-section .banner-text h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 50.4px;
}

.home-banner-section .banner-text a {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-family: inherit;
  background-color: var(--green);
  color: var(--black);
  cursor: pointer;
  margin-top: 20px;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  transition: .3s;
}

.gradient-button {
  background-image: var(--pai-gradient);
  background-size: 100%;
  border: none;
}

.gradient-button:hover {
  background-size: 200%;
  transition: .3s;
}

.home-banner-section .banner-text p {
  font-weight: 300;
  font-size: 15px;
  line-height: 22.5px;
  max-width: 465px;
}

.home-banner-section .banner-imgs {
  position: relative;
  width: 632px;
  height: 632px;
}

.home-banner-section .banner-imgs img {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 1300px) {
  .home-banner-section .banner-imgs {
    display: none;
  }

  .home-banner-section .banner-text {
    align-items: center;
  }

  .home-banner-section .banner-text h1 {
    text-align: center;
  }
}
