footer {
  background-color: var(--black);
  color: white;
  padding: 160px 130px 220px;
  display: flex;
  justify-content: space-between;
  line-height: 22.5px;
  gap: 36px;
}

footer div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

footer div:nth-child(1) p {
  margin: 10px 0 22.5px;
}

footer div nav {
  display: flex;
  flex-direction: column;
}

footer div:nth-last-child(1) {
  display: flex;
  row-gap: 20px;
  column-gap: 100px;
  flex-wrap: wrap;
}

footer h5 {
  font-weight: 700;
  margin-bottom: 22.5px;
  font-size: 15px;
  text-transform: uppercase;
}

footer a:hover {
  color: #7c7c7c;
}

@media (max-width: 997px) {
  footer {
    padding: 160px 30px 220px;
    flex-direction: column;
  }
  footer div:nth-last-child(1) {
    margin-top: 48px;
  }
}
