.get-to-know {
  display: flex;
  padding: 104px 0;
  padding-left: 130px;
  justify-content: space-between;
  align-items: center;
}

.get-to-know .get-to-know-text {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.get-to-know .get-to-know-text h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 50.4px;
}

.get-to-know .get-to-know-text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
}

.founders-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-bottom: 195px;
  padding-inline: 130px;
}

.founders-section h2 {
  background-image: var(--pai-gradient);
  background-clip: text;
  color: transparent;
  width: fit-content;
  font-size: 64px;
  line-height: 67.2px;
  font-weight: 600;
}

.founders-section .separator {
  border: 1px solid var(--gray);
  width: 100%;
}

.founders-section .founders-div {
  display: flex;
  gap: 65px;
  justify-content: center;
}

.talk-to-us-section {
  background-image: url("/gradient-bg.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  padding: 180px 130px;
  color: white;
}

.talk-to-us-section h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 50.4px;
}

.talk-to-us-section form {
  margin-top: 90px;
  max-width: 592px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.talk-to-us-section form button {
  width: fit-content;
  padding-inline: 52px;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  color: var(--blue);
  margin-top: 20px;
}

.talk-to-us-section form button:hover {
  background-color: #ffffffcf;
}
